In [1]:
import pandas as pd
import matplotlib as ml
import numpy as np

In [3]:
df = pd.read_csv("movies.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465 entries, 0 to 1464
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1465 non-null   int64
 1   id            1465 non-null   int64
 2   budget        1465 non-null   int64
 3   popularity    1465 non-null   int64
 4   revenue       1465 non-null   int64
 5   title         1465 non-null   object
 6   vote_average  1465 non-null   float64
 7   vote_count    1465 non-null   int64
 8   director_id   1465 non-null   int64
 9   year          1465 non-null   int64
 10  month         1465 non-null   object
 11  day           1465 non-null   object
dtypes: float64(1), int64(8), object(3)
memory usage: 137.5+ KB

In [9]:
df.value_counts('month')

month
Dec    193
Sep    166
Oct    149
Jun    133
Jul    127
Nov    117
May    116
Aug    111
Feb    104
Mar     99
Apr     90
Jan     60
Name: count, dtype: int64

In [8]:
df.head(n=25)

,Unnamed: 0,id,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day
0,0,43597,237000000,150,2787965087,Avatar,7.2,11800,4762,2009,Dec,Thursday
1,1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,4763,2007,May,Saturday
2,2,43599,245000000,107,880674609,Spectre,6.3,4466,4764,2015,Oct,Monday
3,3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,4765,2012,Jul,Monday
4,5,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,4767,2007,May,Tuesday
5,9,43606,250000000,155,873260194,Batman v Superman: Dawn of Justice,5.7,7004,4771,2016,Mar,Wednesday
6,10,43607,270000000,57,391081192,Superman Returns,5.4,1400,4772,2006,Jun,Wednesday
7,11,43608,200000000,107,586090727,Quantum of Solace,6.1,2965,4773,2008,Oct,Thursday
8,12,43609,200000000,145,1065659812,Pirates of the Caribbean: Dead Man's Chest,7.0,5246,4763,2006,Jun,Tuesday
9,13,43610,255000000,49,89289910,The Lone Ranger,5.9,2311,4763,2013,Jul,Wednesday
10,14,43611,225000000,99,662845518,Man of Steel,6.5,6359,4771,2013,Jun,Wednesday
11,15,43612,225000000,53,419651413,The Chronicles of Narnia: Prince Caspian,6.3,1630,4774,2008,May,Thursday
12,17,43614,380000000,135,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,4775,2011,May,Saturday
13,18,43615,225000000,52,624026776,Men in Black 3,6.2,4160,4776,2012,May,Wednesday
14,19,43616,250000000,120,956019788,The Hobbit: The Battle of the Five Armies,7.1,4760,4777,2014,Dec,Wednesday
15,21,43618,200000000,37,310669540,Robin Hood,6.2,1398,4779,2010,May,Wednesday
16,22,43619,250000000,94,958400000,The Hobbit: The Desolation of Smaug,7.6,4524,4777,2013,Dec,Wednesday
17,23,43620,180000000,42,372234864,The Golden Compass,5.8,1303,4780,2007,Dec,Tuesday
18,24,43621,207000000,61,550000000,King Kong,6.6,2337,4777,2005,Dec,Wednesday
19,25,43622,200000000,100,1845034188,Titanic,7.5,7562,4762,1997,Nov,Tuesday
20,27,43624,209000000,64,303025485,Battleship,5.5,2114,4782,2012,Apr,Wednesday
21,29,43626,200000000,93,1108561013,Skyfall,6.9,7604,4764,2012,Oct,Thursday
22,30,43627,200000000,35,783766341,Spider-Man 2,6.7,4321,4767,2004,Jun,Friday
23,32,43629,200000000,78,1025491110,Alice in Wonderland,6.4,4645,4785,2010,Mar,Wednesday
24,33,43630,210000000,3,459359555,X-Men: The Last Stand,6.3,3525,4786,2006,May,Wednesday